In [2]:
import pandas as pd
Temp2015 = pd.read_excel('Temp_2015.xlsx')
Temp2016 = pd.read_excel('Temp_2016.xlsx')
Temp2017 = pd.read_excel('Temp_2017.xlsx')
Temp2018 = pd.read_excel('Temp_2018.xlsx')

TempAll = [Temp2015,Temp2016,Temp2017,Temp2018]

append_df = pd.concat(TempAll)
append_df.head(2)

# append_df.to_excel('TempAll.xlsx',index=False)

,Year,Month,Day,Hour,Dry Bulb (°C *10),Dew Point (°C *10),Sea level pressure (hectopascals),Wind direction (angular degrees),Wind speed (m/s * 10),"Total cloud cover (coded, see format documentation)",One-hour accumulated liquid precipitation (millimeters),Six-hour accumulated liquid precipitation (millimeters),Date - Hour,Dry Bulb (F),Dew Point (F)
0,2016,1,1,0,89,17,10207,350,41,8,-9999,-9999,2016-01-01 00:00:00,48.02,35.06
1,2016,1,1,1,78,11,10214,350,51,-9999,0,-9999,2016-01-01 01:00:00,46.04,33.98

In [3]:
append_df['Date']=pd.PeriodIndex(year=append_df['Year'],month=append_df['Month'],day=append_df['Day'],freq='D')
append_df.head(2)

,Year,Month,Day,Hour,Dry Bulb (°C *10),Dew Point (°C *10),Sea level pressure (hectopascals),Wind direction (angular degrees),Wind speed (m/s * 10),"Total cloud cover (coded, see format documentation)",One-hour accumulated liquid precipitation (millimeters),Six-hour accumulated liquid precipitation (millimeters),Date - Hour,Dry Bulb (F),Dew Point (F),Date
0,2016,1,1,0,89,17,10207,350,41,8,-9999,-9999,2016-01-01 00:00:00,48.02,35.06,2016-01-01
1,2016,1,1,1,78,11,10214,350,51,-9999,0,-9999,2016-01-01 01:00:00,46.04,33.98,2016-01-01

In [4]:
Temperature = pd.DataFrame(append_df, columns = ['Date','Year','Month','Day','Hour','Dry Bulb (F)'])
Temperature.head()

Temperature.to_excel('TempAll.xlsx',index=False)